* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background: #24353f;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}
#app {
  background: #1a272e;
  padding: 32px 24px;
  border-radius: 22px;
  box-shadow: 0 0px 20px #f9fafb;
  width: 60%;
  margin: auto;
 
}
h1,
h2 {
  color: #1990a3;
  text-align: center;
  font-size: 42px;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
input,
button {
  color: #fff;
  width: 80%;
  font-size: 20px;
  padding: 20px;
  margin: 15px auto;
  border-radius: 6px;
  border: 1px solid #1990a3;
  background-color: transparent;
}
input:focus {
  outline: 1px solid #13ceeb !important;
}
button {
  background: transparent;
  color: #fff;
  border: 1px solid #1990a3;
  cursor: pointer;
  width: 80%;
  transition: all 0.4s;
}
button:hover {
  background: #1990a3;
  color: #181818;

}
.error {
  color: #d00;
  margin-bottom: 8px;
}
.success {
  color: #080;
  margin-bottom: 8px;
}

span {
  color: #1990a3;
  font-size: 25px;
  cursor: pointer;
  transition: color 0.3s;
}
span:hover {
  color: #1aa279;
}

.hello-user {
  color: #1990a3;
  margin-bottom: 8px;
  font-size: 31px;
}

.success {
  color: #1bf51b;
  text-align: center;
}
/* loader */
.loader {
  display: block;
  position: relative;
  height: 12px;
  width: 80%;
  border: 1px solid #fff;
  border-radius: 10px;
  overflow: hidden;
  margin: auto;
}
.loader:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  background: #4dd118;
  animation: 2s prog ease-in infinite;
}

@keyframes prog {
  to {
    width: 100%;
  }
}

@media screen and (max-width: 1500px) {
  #app {
    width: 90%;
  }
}
@media screen and (max-width: 980px) {
  input,
  button {
    width: 100%;
  }
  h1.h2 {
    font-size: 22px;
  }
  #app {
    width: 80%;
  }
  form {
    gap: 7px;
  }
  span {
    font-size: 20px;
  }
}
